pipeline/Ingestion_Product_Addres_To_JSON.json
{
	"name": "Ingestion_Product_Addres_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "lkp_total_rec_cnt",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(1) as rec_cnt from saleslt.product;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_DB_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lkp_total_rec_cnt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('lkp_total_rec_cnt').output.firstRow.rec_cnt,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Ingestion_Product_To_JSON_copy2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Sql_DB_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "adls_json_DS",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "JSON",
										"FileName": "Productgt10.json"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Product_Addres_To_JSON",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-18T02:39:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}